@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 300ms ease-in-out;
  font-family: "Roboto", sans-serif !important;
}

.container-fluid {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    45deg,
    rgba(10, 181, 248, 0.7),
    rgba(0, 76, 255, 0.7)
  );
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: row;
  border: 0 !important;
  border-radius: 15px;
}

.login-button {
  display: grid;
  place-items: center;
  height: 400px;
  width: 50%;
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  z-index: 2;
  background: #f9f6ee;
}
.form-wrapper.active {
  transform: translateX(00%);
  transition: all 0.3s ease-in-out;
  z-index: 1; /* Make active form appear behind */
  opacity: 1; /* Make active form appear on top */
}

.form-wrapper {
  display: flex;
  justify-content: center;

  align-items: center;
  width: 50%;
  height: 400px;
  background: #f9f6ee;
  border-radius: 15px;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  z-index: 1;
  opacity: 0;
}

.form {
  width: 100%;
  max-width: 350px;
}

.logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px !important;
}
.login-button span {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.button {
  width: 100%;
  max-width: 200px;
  font-size: 2rem;
  text-transform: uppercase;
  outline: none;
  background: #004cff;
  border-radius: 10px;
  border: none;
  color: #fff;

  &:hover {
    filter: brightness(0.9);
  }
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .form-wrapper {
    width: 100%;
    height: 400px;
    padding: 10px;
  }

  .login-button {
    width: 100%;
    height: 70px; /* Adjust the height for smaller screens */
  }

  .form-wrapper {
    transform: translateY(100%);
  }

  .form-wrapper.active {
    transform: translateY(0);
  }
}
